.Projects {
  padding: 5rem;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  } 

  &_Title {
    text-align: center;
  }

  &_Intro {
    text-align: center;
  }

  &_List {
    display: flex;
    justify-content: space-between;
  }
}