{
  "extends": [
    "skyscanner"
  ],
  "rules": {
    "prettier/prettier": "error",
    // This is superceded by jsx-a11y/label-has-associated-control
    "jsx-a11y/label-has-for": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off"
  }
}